/* .text1 {
    display: inline-block;
}

.subtext {
    display: inline-block;
}

text2 {
    display: inline-block;
} */

/* .text1 {
    display: flex;
    border: 1px solid black;
} */

#main {
    width: 500px;
    height: 300px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

#myBlueDiv {
    align-self:flex-start;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    border: 5px solid red;
    width: calc(100vw-20px);
    height: calc(100vh-20px);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/* img {
    margin: 30px
} */